<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- 추가 -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
  <h6>테스트</h6>


  <input id="demo" type="text" name="datetimes"/>
  <input type="button" id="button">

  <script>

      var startTime;
      var endTime;
      $('#demo').daterangepicker({
          "timePicker": true,
          "timePicker24Hour": true,
          "timePickerIncrement": 10,
          "startDate": "11/03/2022",
          "endDate": "11/09/2022"
      }, function(start, end, label) {
          console.log('New date range selected: ' + start.format('YYMMDDHHmm') + ' to ' + end.format('YYYYMMDD HH:mm') + ' (predefined range: ' + label + ')');
          console.log(start);
          console.log(end);
          startTime = start;
          endTime = end;
          console.log(startTime);
          console.log(endTime);


      });

      $('#button').click(function () {
            $.ajax({
                type: "post",
                url: "/test",
                data: {}
                success: function (data) {

                },
            })
      });

  </script>

</body>
</html>